<h1>Project</h1>
<hr>
<div class="container">
    <div class="card black-text">
        <form action="/admin/projects/create" method="POST" enctype="multipart/form-data">
            <div class="card-body">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="name" id="name">
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <textarea name="description" id="description" cols="30" rows="10"
                              class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="btn waves-effect waves-light green">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/jquery-3.4.1.js"></script>
<script src="/assets/js/materialize.js"></script>
<script>
    $("document").ready(function() {
        M.updateTextFields();
    })
</script>